body{
    background-color: grey;
    text-align: center;
}

#new_game_btn{
    height: 10vh;
    padding: 1rem;
    border-radius: 1rem;
}

h1{
    align-items: center;
}

.container{
    background-color: #4C5C68;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}

.game{
    /* background-color: darkgoldenrod ; */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    background-color: white;
    color: red;
    font-size: 5rem;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    

}

#reset_game_btn{
    height: 10vh;
    padding: 1rem;
    border-radius: 1rem;
}

.hide{
    display: none;
}

#msg{
    font-size: 2rem;
    color: white;
    background-color: chocolate;
    padding: 1rem;
}
